body {
	background-color: #FCFFEE;
}


.content-container {
	margin: 10% auto;
	display: table;
}

.card-container {
	background-color: #FFF;
	height: 300px;
	max-height: 460px;

	max-width: 40em;
	
	border: 4px solid #000;
	border-radius: 2%;
	
	

	/*position: static;*/
}

.centered {
	margin: auto;
}



.user-picture {
	max-height: 120px;
	border: 3px solid #88D;
	margin-top: 3px;
}

.circle {
	border-radius: 50%;	
}

.card-nav {
	background-color: #779;
	/*position: fixed;*/
	height: 100%;
	/*float: left;*/
}

.card-info {
	margin-left: 1px;
}

/*------ BIO ------*/
.card-bio {
	/*margin-left: 1px;*/
}

.bio-text {
	border-bottom: 2px solid #999;
	padding-left: 7%;
}

.card-back {
	height: 100%;
}

.inline-block {
	display: inline-block;
}

.btn-list {
	height: 100%;
	margin-top: 10%;
	margin-bottom: 0;
}


.btn-list li {
	margin: auto;
	overflow: hidden;
	height: 33.333%	;
	padding: 0.75em 0;
}

.btn-list button {
	
	height: 3.7em;
	width: 3.7em;
}

@media screen and (max-width:768px) {
	.btn-list li {
		display: inline;
		/*padding: 0.75em 30%;*/
	}
}

.extra-container {
	clear: both;
}

.extra {
	background-color: #CCC;
	display: none;
	margin: 1em auto;
	border: 2px solid #000;
	text-align: center;
}
